Data/Raw Data/morningstar_categories.csv
Data/Raw Data/Currencies/currency_info.csv
Data/Raw Data/Currencies/forward_ask.csv
Data/Raw Data/Currencies/forward_bid.csv
Data/Raw Data/Currencies/forward_mid.csv
Data/Raw Data/Currencies/spot_ask.csv
Data/Raw Data/Currencies/spot_bid.csv
Data/Raw Data/Currencies/spot_mid.csv
Data/Raw Data/Equity Factors/ff5.csv
Data/Raw Data/Equity Factors/momentum.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-1.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-2.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-3.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-4.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-5.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-6.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-7.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-9.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-10.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-11.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-12.csv
Data/Raw Data/Mutual Funds/info/mf_info_part-13.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-1.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-2.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-3.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-4.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-5.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-6.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-7.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-8.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-9.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-10.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-11.csv
Data/Raw Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_part-12.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-1.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-2.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-3.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-4.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-5.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-6.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-7.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-8.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-9.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-10.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-11.csv
Data/Raw Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_part-12.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-1.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-2.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-3.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-4.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-5.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-6.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-7.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-8.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-9.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-10.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-12.csv
Data/Raw Data/Mutual Funds/monthly-costs/mf_monthly-costs_part-13.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-1.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-2.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-3.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-4.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-5.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-6.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-7.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-8.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-9.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-10.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-11.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-12.csv
Data/Raw Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_part-13.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-1.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-2.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-3.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-4.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-5.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-6.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-7.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-8.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-9.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-10.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-11.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-12.csv
Data/Raw Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_part-13.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-1.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-2.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-3.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-4.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-5.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-6.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-7.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-8.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-9.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-10.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-11.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-12.csv
Data/Raw Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_part-13.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-1.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-2.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-3.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-4.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-5.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-6.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-7.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-8.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-9.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-10.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-12.csv
Data/Raw Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_part-13.csv
Data/Refined Data/Mutual Funds/info/mf_info_can-chn-jpn.csv
Data/Refined Data/Mutual Funds/info/mf_info_esp-tha-aus-zaf-mex-aut-che.csv
Data/Refined Data/Mutual Funds/info/mf_info_gbr-fra-ind.csv
Data/Refined Data/Mutual Funds/info/mf_info_irl-bra.csv
Data/Refined Data/Mutual Funds/info/mf_info_kor.csv
Data/Refined Data/Mutual Funds/info/mf_info_lux.csv
Data/Refined Data/Mutual Funds/info/mf_info_other.csv
Data/Refined Data/Mutual Funds/info/mf_info_usa.csv
Data/Refined Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_can-chn-jpn.csv
Data/Refined Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_esp-tha-aus-zaf-mex-aut-che.csv
Data/Refined Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_gbr-fra-ind.csv
Data/Refined Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_irl-bra.csv
Data/Refined Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_kor.csv
Data/Refined Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_lux.csv
Data/Refined Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_other.csv
Data/Refined Data/Mutual Funds/local-monthly-gross-returns/mf_local-monthly-gross-returns_usa.csv
Data/Refined Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_can-chn-jpn.csv
Data/Refined Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_esp-tha-aus-zaf-mex-aut-che.csv
Data/Refined Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_gbr-fra-ind.csv
Data/Refined Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_irl-bra.csv
Data/Refined Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_kor.csv
Data/Refined Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_lux.csv
Data/Refined Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_other.csv
Data/Refined Data/Mutual Funds/local-monthly-net-returns/mf_local-monthly-net-returns_usa.csv
Data/Refined Data/Mutual Funds/monthly-costs/mf_monthly-costs_can-chn-jpn.csv
Data/Refined Data/Mutual Funds/monthly-costs/mf_monthly-costs_esp-tha-aus-zaf-mex-aut-che.csv
Data/Refined Data/Mutual Funds/monthly-costs/mf_monthly-costs_gbr-fra-ind.csv
Data/Refined Data/Mutual Funds/monthly-costs/mf_monthly-costs_irl-bra.csv
Data/Refined Data/Mutual Funds/monthly-costs/mf_monthly-costs_kor.csv
Data/Refined Data/Mutual Funds/monthly-costs/mf_monthly-costs_lux.csv
Data/Refined Data/Mutual Funds/monthly-costs/mf_monthly-costs_other.csv
Data/Refined Data/Mutual Funds/monthly-costs/mf_monthly-costs_usa.csv
Data/Refined Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_can-chn-jpn.csv
Data/Refined Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_esp-tha-aus-zaf-mex-aut-che.csv
Data/Refined Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_gbr-fra-ind.csv
Data/Refined Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_irl-bra.csv
Data/Refined Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_kor.csv
Data/Refined Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_lux.csv
Data/Refined Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_other.csv
Data/Refined Data/Mutual Funds/monthly-morningstar-category/mf_monthly-morningstar-category_usa.csv
Data/Refined Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_can-chn-jpn.csv
Data/Refined Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_esp-tha-aus-zaf-mex-aut-che.csv
Data/Refined Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_gbr-fra-ind.csv
Data/Refined Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_irl-bra.csv
Data/Refined Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_kor.csv
Data/Refined Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_lux.csv
Data/Refined Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_other.csv
Data/Refined Data/Mutual Funds/monthly-net-assets/mf_monthly-net-assets_usa.csv
Data/Refined Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_can-chn-jpn.csv
Data/Refined Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_esp-tha-aus-zaf-mex-aut-che.csv
Data/Refined Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_gbr-fra-ind.csv
Data/Refined Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_irl-bra.csv
Data/Refined Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_kor.csv
Data/Refined Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_lux.csv
Data/Refined Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_other.csv
Data/Refined Data/Mutual Funds/usd-monthly-gross-returns/mf_usd-monthly-gross-returns_usa.csv
Data/Refined Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_can-chn-jpn.csv
Data/Refined Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_esp-tha-aus-zaf-mex-aut-che.csv
Data/Refined Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_gbr-fra-ind.csv
Data/Refined Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_irl-bra.csv
Data/Refined Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_kor.csv
Data/Refined Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_lux.csv
Data/Refined Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_other.csv
Data/Refined Data/Mutual Funds/usd-monthly-net-returns/mf_usd-monthly-net-returns_usa.csv
Notebooks/Old Python Notebooks/1 - Process Currency Data.ipynb
Notebooks/Old Python Notebooks/1 - Split Mutual Fund Data by Country.ipynb
Notebooks/Old Python Notebooks/2 - Build Currency Factors.ipynb
Notebooks/Old Python Notebooks/4 - Mutual Fund Returns.ipynb
Notebooks/Old Python Notebooks/5 - Prepare Equity Factors.ipynb
Notebooks/Old Python Notebooks/6 - Main Regressions (Scratchpad).ipynb
Notebooks/Old Python Notebooks/6 - Main Regressions.ipynb
